<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="LaravelWebPublic" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <condition input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <condition input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="public/index.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
